@using HouseholdBank.Models;
@{
    ViewBag.Title = "Havale Miktar";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Musteri mus = (Musteri)Session["mus"];
    dbBankEntities db = new dbBankEntities();


    string gonderenHesapEkNo = ViewBag.gonderenHesapEkNo;
    string aliciHesap = ViewBag.aliciHesap;
    string aliciHesapEkNo = ViewBag.aliciHesapEkNo;

    Musteri aliciMus = db.Musteri.Where(m => m.hesapNo == aliciHesap).Single();

    Hesap gonderenH = db.Hesap.Where(h => h.hesapEkNo == gonderenHesapEkNo && mus.tcKimlikNo == h.musTCKN).Single();

    Hesap alanH = db.Hesap.Where(h => h.hesapEkNo == aliciHesapEkNo && aliciMus.tcKimlikNo == h.musTCKN).Single();

}

<div class="container" style="background-color:gainsboro;border-radius:15px;padding:3em;max-width:600px">


    <div class="row justify-content-center">
        <div class="col-md-8">
            <br />
            <h2>Gonderen Hesap: <br /> @mus.hesapNo - @gonderenHesapEkNo <br /> Bakiye: <span id="mevcutBakiye">@gonderenH.bakiye</span> TL</h2>
            <br />
            <h2>Alici Hesap: <br /> @aliciMus.hesapNo - @aliciHesapEkNo <br /> Bakiye: @alanH.bakiye TL</h2>
            <br />
            <h2>Havale Miktarı:</h2>
            @using (Html.BeginForm("HavaleKontrol", "Hesap", FormMethod.Post))
            {
                @Html.Hidden("gonderenHesapEkNo", gonderenHesapEkNo)
                @Html.Hidden("aliciHesap", aliciHesap)
                @Html.Hidden("aliciHesapEkNo", aliciHesapEkNo)
                <div class="form-group">
                    <input id="miktar" type="text" name="miktar" required="required" placeholder="Miktar Girin" autocomplete="off" class="form-control">
                </div>
                <button type="submit" id="havaleYap" class="btn btn-success">Tamamla</button>
                <br />
            }
        </div>
    </div>

</div>



<script>
    $(function () {
        $('#miktar').keydown(function (event) {
            this.value = this.value.replace(/[^0-9]/g, '');
            var max = parseInt($("#mevcutBakiye").text());
            var min = 0
            if ($(this).val() > max) {
                $(this).val(max);
            }
        });

        $('#miktar').keyup(function (event) {
            this.value = this.value.replace(/[^0-9]/g, '');
            var max = parseInt($("#mevcutBakiye").text());
            var min = 0
            if ($(this).val() > max) {
                $(this).val(max);
            }
        });
    });

</script>
