@using HouseholdBank.Models;
@{
    ViewBag.Title = "ParaYatir";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Musteri mus = (Musteri)Session["mus"];
    dbBankEntities db = new dbBankEntities();
    Hesap secilenHesap = (Hesap)ViewBag.hesap;

    DateTime ucAyOnce = DateTime.Now.AddMonths(-3);
    List<Islem> islemler = db.Islem.Where(isl => isl.hesapNo == mus.hesapNo && isl.hesapEkNo == secilenHesap.hesapEkNo && isl.tarih >= ucAyOnce).ToList();
}

<div class="container" style="background-color:gainsboro;border-radius:15px;max-width:450px">


    <div class="row justify-content-center">
        <div>
            <br />
            <h2>Para Yatır:</h2>
            <h3> @mus.hesapNo : @secilenHesap.hesapEkNo</h3>
            <p class="margin-top-s">
                Bakiye : @secilenHesap.bakiye
                <br />
                Açılış Tarihi: @secilenHesap.acilisTarihi.Value.ToString()
                <br />
                Aktiflik Durumu:  @secilenHesap.aktifmi
            </p>
            <p>
                <a href="@Url.Action("ParaYatir","Hesap", new { id = secilenHesap.hesapEkNo})">
                    <button class="btn btn-success">Para Yatır</button>
                </a>
            </p>
            <br />
            <h2>Hesap Hareketleri(Son 3 Ay):</h2>
            <p>
                @if (islemler.Count == 0)
                {
                <p>Bu hesapla ilgili işlem bulunamamıştır.</p>
            }
            else
            {
                <div class="list-group">
                    @foreach (Islem islem in islemler)
                    {
                        <p class="list-group-item list-group-item-action list-group-item-primary">
                            IslemID: @islem.islemID <br /> Tarihi: @islem.tarih <br /> Tipi: @islem.islemTipi <br /> Açıklaması: @islem.aciklama
                        </p>
                        <br />
                    }
                </div>
            }
                </p>
                <br />
            </div>
        </div>

    </div>