@using HouseholdBank.Models;
@using HouseholdBank.Models;
@{
    ViewBag.Title = "Virman Alan";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Musteri mus = (Musteri)Session["mus"];
    dbBankEntities db = new dbBankEntities();

    string gonderenHesap = ViewBag.gonderenHesap;

    List<Hesap> hesapList = db.Hesap.Where(h => h.musTCKN == mus.tcKimlikNo && h.aktifmi == true && h.hesapEkNo != gonderenHesap).ToList();

    Hesap gonderenH = db.Hesap.Where(h => h.hesapEkNo == gonderenHesap && mus.tcKimlikNo == h.musTCKN).Single();


}

<div class="container" style="background-color:gainsboro;border-radius:15px;padding:3em;max-width:600px">


    <div class="row justify-content-center">
        <div class="col-md-9">
            <br />
            <h2>Gonderen Hesap Ek No: <br /> @mus.hesapNo - @gonderenHesap <br /> Bakiye: @gonderenH.bakiye TL</h2>
            <br />
            <h2>Alan Hesap Ek No:</h2>
            @if (hesapList.Count > 0)
            {
                using (Html.BeginForm("Virman", "Hesap", FormMethod.Post))
                {
                    @Html.Hidden("gonderenHesap", gonderenHesap)
                    <div class="form-group">
                        <select class="form-control" id="input-select" name="alanHesap">
                            @foreach (Hesap hesap in hesapList)
                            {
                                <option name="alanHesap" value=@Convert.ToString(hesap.hesapEkNo)>Hesap Ek No: @hesap.hesapEkNo - @hesap.bakiye TL</option>
                            }

                        </select>
                    </div>
                    <button type="submit" class="btn btn-success">Devam Et</button>
                    <br />
                }
            }
            else
            {
                <h2>Alici hesabınız yok!</h2>
            }
        </div>
    </div>

</div>