@using HouseholdBank.Models;
@using HouseholdBank.Models;
@{
    ViewBag.Title = "Boşaltılacak Hesap";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Musteri mus = (Musteri)Session["mus"];
    dbBankEntities db = new dbBankEntities();

    int hgsID = (int)ViewBag.hgsID;
    HGS secilenHgs = db.HGS.Where(h => h.hgsID == hgsID).Single();


    List<Hesap> hesapList = db.Hesap.Where(h => h.musTCKN == mus.tcKimlikNo && h.aktifmi == true).ToList();

}

<div class="container" style="background-color:gainsboro;border-radius:15px;padding:3em;max-width:600px">


    <div class="row justify-content-center">
        <div class="col-md-8">
            <br />
            <h2>Seçilen HGS No: @secilenHgs.hgsID <br />Araç Plaka: @secilenHgs.plaka</h2>
            <br />
            <h2>Bakiye Aktarılacak Hesap Ek No Seçin:</h2>
            @if (hesapList.Count > 0)
            {
                using (Html.BeginForm("BakiyeBosalt", "HGS", FormMethod.Post))
                {
                    @Html.Hidden("secilenHgsID", secilenHgs.hgsID)
                    <div class="form-group">
                        <select class="form-control" id="input-select" name="secilenHesap">
                            @foreach (Hesap hesap in hesapList)
                            {
                                <option name="secilenHesap" value=@Convert.ToString(hesap.hesapEkNo)>Hesap Ek No: @hesap.hesapEkNo - @hesap.bakiye TL</option>
                            }

                        </select>
                    </div>
                    <button type="submit" class="btn btn-success">HGS'yi Boşalt</button>
                    <br />
                }
            }
            else
            {
                <h2>İşlem yapmak için hesabınız bulunamadı!</h2>
            }
        </div>
    </div>

</div>