@using HouseholdBank.Models;
@{
    ViewBag.Title = "HGS";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Musteri mus = (Musteri)Session["mus"];
    dbBankEntities db = new dbBankEntities();


    List<HGS> hgsListesi = ViewBag.hgsListesi;

    bool isUye = false;
    foreach (HGS hgs in hgsListesi)
    {
        if (hgs.musTCKN == mus.tcKimlikNo)
        {
            isUye = true;
        }
    }

    List<HGS> musHgsList = null;
    if (isUye)
    {
        musHgsList = hgsListesi.Where(h => h.musTCKN == mus.tcKimlikNo && h.aktifmi == true).ToList();
    }
}


<div class="container" style="background-color:gainsboro;border-radius:15px;padding:3em;max-width:600px">

    @if (isUye)
    {
        <div class="row justify-content-center" style="margin-top:2em">
            <div class="col-md-8">
                <h2>Yeni HGS Kaydı:</h2>
                <p class="margin-top-s">
                    <div class="vertical-menu">
                        <button class="btn btn-success" data-toggle="modal" data-target="#YeniUyelik">Yeni Üyelik Oluştur</button>
                    </div>
                </p>
                <br />
                <h2>Aktif HGS Listesi <br />(Tüm Araçlar):</h2>
                <br />
                <div class="list list-group">

                    @foreach (HGS hgs in musHgsList)
                    {
                        <div class="list-group-item list-group-item-action list-group-item-primary" style="min-width:300px">
                            HGS No: @hgs.hgsID <br /> Plaka No: @hgs.plaka <br /> Bakiye: @hgs.bakiye TL


                            <form class="border-0" action="@Url.Action("BakiyeHesap","HGS")" method="POST">
                                @Html.Hidden("id", hgs.hgsID)
                                <button type="submit" class="btn btn-success">Bakiye Yükle</button>
                            </form>

                            @if (hgs.bakiye >= 1)
                            {
                                <form class="border-0" action="@Url.Action("BakiyeBosaltHesap","HGS")" method="POST">
                                    @Html.Hidden("id", hgs.hgsID)
                                    <button type="submit" class="btn btn-info">Bakiye Boşalt</button>
                                </form>
                            }

                            @if (hgs.bakiye == 0)
                            {
                                <button onclick="location.href='@Url.Action("IptalEt","HGS", new { id= hgs.hgsID })'" class="btn btn-danger">Üyelik Sonlandır</button>
                            }
                        </div>
                        <br />
                    }

                </div>
            </div>
        </div>

    }
    else
    {

        <div class="row justify-content-center">
            <div class="col-md-8">
                <h2>Aktif HGS üyeliğiniz bulunmamaktadır. <br /> Üyelik İçin Lütfen Tıklayın!</h2>

                <button class="btn btn-success" data-toggle="modal" data-target="#YeniUyelik">Yeni Üyelik Oluştur</button>
            </div>
        </div>
    }
</div>



<div class="modal fade" id="YeniUyelik" tabindex="-1" role="dialog" aria-labelledby="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">HGS Üyelik Oluştur</h4>
            </div>
            @using (Html.BeginForm("UyelikOlustur", "HGS", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="form-group">
                        <label>Araç Plaka Girin:</label>
                        <input type="text" id="plaka" name="plaka" maxlength="10" class="form-control" autocomplete="off" required title="Lütfen plaka girin!" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Vazgeç</button>
                    <button type="submit" class="btn btn-success">Üyelik Oluştur</button>
                </div>
            }
        </div>
    </div>
</div>
